<nav><a href="/">Public view</a></nav>

<header>
  <h1>Admin panel</h1>
</header>

<hr>

<main>

  <p><a href="/yamb/create">Create new</a></p>

  <h3>List of posts <small>({{length posts}})</small></h3>

  <ul>
  {{#each posts}}
    <li>{{{formatdate created time=false}}} <a href="/yamb/{{id}}">{{title}}</a></li>
  {{/each}}
  </ul>

</main>