<main>

  <form action="/yamb/create" method="post">
    <input type="text" name="title" value=""><br>
    <textarea name="text" rows="8" cols="40"></textarea><br><br>

    <input type="submit" value="Save">
  </form>

</main>